.body {
    background-color: #FEEED6;
    color: #676565;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    max-width: 819px;
    height: auto;
    position: absolute;
    width: 100%;
}

div.body {
    padding-left: 12px;
    padding-right: 14px;
}

.text-blue {
    color: #378DB2;
    font-weight: bold;
}

.price-without-discount {
    text-decoration: line-through;
}

.course-title {
    color: #676565;
    font-size: 32px;
    font-weight: 100;
    margin-top: 11px;
    margin-bottom: 23px;
    padding-top: 10px;
}

.course-subtitle {
    margin-top: 10px;
    margin-bottom: 17px;
}

.course-last-subtitle {
    margin-top: 10px;
    margin-bottom: 23px;
}

.course-description {
    text-indent: 15px;
    margin-top: 9px;
    margin-bottom: 9px;
    text-align: justify;
    line-height: 1.4;
}