.body {
    color: #676565;
    font-family: "Arial", sans-serif;
    font-size: 17px;
}

.content-style {
    background-color: #FEEED6;
    max-width: 848px;
    height: auto;
    width: 100%;
    padding: 7px 14px 1px 12px;
}

.text-blue {
    color: #378DB2;
    font-weight: bold;
}

.price-without-discount {
    text-decoration: line-through;
}

.course-title {
    color: #676565;
    font-size: 32px;
    font-weight: 100;
    padding-bottom: 4px;
}

.course-subtitle {
    padding-top: 15px
}

.course-last-subtitle {
    padding-top: 15PX;
    padding-bottom: 4px;
}

.course-description {
    text-indent: 18px;
    text-align: justify;
    line-height: 1.4;
    padding-top: 12px;
    padding-bottom: 3px;
}