.body {
    max-width: 859px;
    width: 100%;
    height: auto;
    position: absolute;
}

.table-border tr, td, th {
    border: 1px solid #CCC;
    padding: 13px 10px 11px;
}

.table-style {
    font-family: "Calibri", serif;
    font-size: 22px;
    margin: 10px;
    width: 100%;
    border-collapse: collapse;
}

.row-head {
    background-color: #3498DB;
    color: #FFF;
}

.column-job-title {
    width: 311px;
}

.column-name {
    width: 174px;
}

.table-content > tr:nth-child(2n+1) {
    background-color: #EEE;
}