.content-style {
    max-width: 879px;
    width: 100%;
    height: auto;
    padding: 10px;
}

.table-border th, .table-border tr td {
    border: 1px solid #CCC;
    padding: 13px 10px 11px;
}

.table-style {
    font-family: "Calibri", serif;
    font-size: 22px;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    display: table;
}

.row-head {
    background-color: #3498DB;
    color: #FFF;
    text-align: left;
}

.column-job-title {
    width: 36.15%;
    height: auto;
}

.column-name {
    width: 20.2%;
    height: auto;
}

.column-twitter {
    width: 23.45%;
    height: auto;
}

.table-content > tr:nth-child(2n+1) {
    background-color: #EEE;
}
